<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  td.select{
            border-style: solid;
            border-width: 2px;
            border-color: green;
  }
  .showad{
            position: fixed; margin-top:100px;
            min-width: 900px; min-height: 281.429px;
            max-width:1000px; 
            background-color: rgb(255, 255, 255); 
            font-family: Arial Black Helvetica, geneva, sans-serif !important; line-height: normal !important; 
            font-size: 16pt !important; text-align: center !important; 
            padding: 12px !important; 
            display: block !important;
            margin-left: 30px; 
            margin-right: 30px; border-radius: 15px; 
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 14px 24px -8px; 
            visibility: visible;
  
  }
  .hidead{
            position: fixed; margin-top:100px;
            min-width: 900px; min-height: 281.429px; 
            max-width:1000px;
            background-color: rgb(255, 255, 255); 
            font-family: Arial Black Helvetica, geneva, sans-serif !important; line-height: normal !important; 
            font-size: 16pt !important; text-align: center !important; 
            padding: 12px !important; display: block; margin-left: 30px; 
            margin-right: 30px; border-radius: 15px; 
            box-shadow: rgba(0, 0, 0, 0.298039) 0px 14px 24px -8px; 
            visibility: hidden;
  
  }
  .hide{
    display: none;
  }
  .show{
    display: inline;
  }
  </style>
    <title>Mapping</title>
  </head>
  <body>
    <div id = "body" class="hide">  
    <h1>Map</h1>
    <table class="table table-bordered text-center">
    <caption>User map</caption>
  <thead>
    <tr>
      <th scope="col">y\x</th>
      <th scope="col">0</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
    </tr>
  </thead>
  <tbody id ="bodytable1">
    
  </tbody>
</table>
<h2 id = "turn"></h2>
<p id="timer"></p>
<div>
  <button id="button-surrender" class="btn btn-primary btn-sm" type ="button" onclick="surrender()">Surrender</button>
  <button id="button-switch" class="btn btn-primary btn-sm" type ="button" onclick="switchboard()">Switch board</button>
</div>
<table class="table table-bordered text-center">
    <caption>Enemy map</caption>
  <thead>
    <tr>
      <th scope="col">y\x</th>
      <th scope="col">0</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
    </tr>
  </thead>
  <tbody id ="bodytable2">
    
  </tbody>
</table>
    </div>
<div id="W6RRiFu6hUFu7NO90VE4Gj6AkAzYWp" 
    style="position:fixed; width: 100%; height: 100%; background-color: rgb(68, 68, 68)">
</div>
<div id = "ad" class = "showad" >
  <p id = "state-ta" style="font-family:Helvetica, geneva, sans-serif;font-weight: 300;font-size:18pt;color:#444444;text-align:center;">
   Your status: 
     <button id="button-user" class="btn btn-primary btn-sm" type ="button" onclick="updateState()"></button>
  </p>
  <p id = "state-dich" style="font-family:Helvetica, geneva, sans-serif;font-weight: 300;font-size:18pt;color:#444444;text-align:center;">
   Enemy status:
  </p>
  <p style="font-family:Helvetica, geneva, sans-serif;font-weight: 300;font-size:18pt;color:#444444;text-align:center;">
      <button type="button" onclick="outroom()" class="btn btn-primary btn-sm" >Out room</button>
  </p>
  <p id = "testpop" style="font-family:Helvetica, geneva, sans-serif;font-weight: 300;font-size:18pt;color:#444444;text-align:center;">
    
   </p>

</div>
<p id = "test1"><%=useraut%></p>
<p id = "test2"><%=indexaut%></p>

<p id = "test5"></p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io('/mapping2');
      
      socket.on('connect', function(){
        socket.emit("join room",user);
      });
      var index;
      var user = document.getElementById('test1').innerHTML;
      var ta;
      var dich;
      var check =false;
      var checkwin = 0;
      var checklose = 0;
      var this_turn=false;
      
      

      
      document.getElementById('bodytable1').innerHTML='';
      for(var i = 0;i<8;i++){
        var temp = '<tr>';
        temp +='<th scope=\"row\">'+i+'</th>';
        for(var j = 0;j<8;j++){
          
          temp +='<td id=\"table1_'+j+'_'+i+'\", class=\"\">'+i+j+'</td>';
               
        }
        temp += '</tr>'
        document.getElementById('bodytable1').innerHTML += temp;
        temp='';
      }
      document.getElementById('bodytable2').innerHTML='';
      for(var i = 0;i<8;i++){
        var temp = '<tr>';
        temp +='<th scope=\"row\">'+i+'</th>';
        for(var j = 0;j<8;j++){
          temp +='<td id=\"table2_'+j+'_'+i+'\", class=\" \">'+i+j+'</td>';
        }
        temp += '</tr>'
        document.getElementById('bodytable2').innerHTML += temp;
        temp='';
      }
      
      
      
      
      setInterval(function(){
        socket.emit('get user',user);
      }, 1000);
      
      socket.on('update tadich',function(map_ta,map_dich,info,index_a,isTurn,state){
        ta=map_ta;
        dich =map_dich;
        index = index_a;
        
        if(state.User == false || state.Enemy == false)
        {
          document.getElementById('test5').innerHTML= "test 5 1";
          document.getElementById('ad').setAttribute("class","showad");
          document.getElementById('body').setAttribute("class","hide");
          if(state.User == false)
            document.getElementById('button-user').innerHTML ="Waitting";
          else
            document.getElementById('button-user').innerHTML ="Ready";
          if(state.Enemy == false)
            document.getElementById('state-dich').innerHTML =" Enemy status: Waitting";
          else
            document.getElementById('state-dich').innerHTML =" Enemy status: Ready";
          socket.emit("reset countdown")
          
          
        }
        else
        {
          document.getElementById('body').setAttribute("class","show");
          document.getElementById('ad').setAttribute("class","hidead");
          document.getElementById('test5').innerHTML= "test 5 2";
        }
        
        this_turn=isTurn;
        document.getElementById('timer').innerHTML = "Time left: "+state.countdown+"s";
        
       
        if(isTurn)
        {
          document.getElementById('turn').innerHTML ="Your Turn";
        }
        else
        {
          document.getElementById('turn').innerHTML ="Enemy Turn";
        }
        checkwin =0;
        checklose=0;
        for(var i = 0; i<8;i++)
        {
          for(var j = 0; j<8;j++)
          {
            var temp = "table1_"+j+"_"+i;
            var temp1 = "table2_"+j+"_"+i;
            if(map_ta[j][i]=='B')
            {
              checklose++;
             document.getElementById(temp).setAttribute("class","bg-danger");
            }
            else if(map_ta[j][i]=='S')
            {
             
              document.getElementById(temp).setAttribute("class","bg-dark");
            }
            else if(map_ta[j][i]=='A')
            {
              
              document.getElementById(temp).setAttribute("class","table-success");
            }
            else
            {
              document.getElementById(temp).setAttribute("class","");
            }
            
            if(info[index].locatex == j && info[index].locatey ==i)
            {
              if(dich[j][i]=='B')
              {
                checkwin++;
                document.getElementById(temp1).setAttribute("class","bg-danger select");
              }
              else if(dich[j][i]=='S')
              {
                document.getElementById(temp1).setAttribute("class","bg-dark select");
              }
              else
              {
                document.getElementById(temp1).setAttribute("class","select");
              }
            }
            else
            {
              if(dich[j][i]=='B')
              {
                checkwin++;
                document.getElementById(temp1).setAttribute("class","bg-danger");
              }
              else if(dich[j][i]=='S')
              {
                document.getElementById(temp1).setAttribute("class","bg-dark");
              }
              else
              {
                document.getElementById(temp1).setAttribute("class","");
              }
            }
          }  
            
        }
          if(state.countdown<0)
          {
            if(this_turn)
            { 
              socket.emit("game over",user);
              alert("You lose");
              window.location.href="/rooms";
            }
            else
            {
              socket.emit("game over",user);
              alert("You win");
              window.location.href="/rooms";
            }
            
              
            
              
          }
          if(checkwin ==8)
          {
            socket.emit("game over",user);
            alert("You win");
            window.location.href="/rooms";
          }
           if(checklose ==8)
          {
            socket.emit("game over",user);
            alert("You lose");
            window.location.href="/rooms";
          }
          if(info[index].isFire==true)
            socket.emit('user fire',index);
      });
      socket.on('update map', function(info){
          
          for(var i = 0; i<8;i++)
          {
            for(var j = 0; j<8;j++)
            {
              //var temp = "table1_"+j+"_"+i;
              var temp1 = "table2_"+j+"_"+i;
              /*if(map_ta[j][i]=='B')
              {
                
               document.getElementById(temp).setAttribute("class","bg-danger");
              }
              else if(map_ta[j][i]=='S')
              {
               
                document.getElementById(temp).setAttribute("class","bg-dark");
              }
              else if(map_ta[j][i]=='A')
              {
                
                document.getElementById(temp).setAttribute("class","table-success");
              }
              else
              {
                document.getElementById(temp).setAttribute("class","");
              }*/
              
              if(info[index].locatex == j && info[index].locatey ==i)
              {
                if(dich[j][i]=='B')
                {
                   document.getElementById(temp1).setAttribute("class","bg-danger select");
                }
                else if(dich[j][i]=='S')
                {
                  document.getElementById(temp1).setAttribute("class","bg-dark select");
                }
                else
                {
                  document.getElementById(temp1).setAttribute("class","select");
                }
              }
              else
              {
                if(dich[j][i]=='B')
                {
                   document.getElementById(temp1).setAttribute("class","bg-danger");
                }
                else if(dich[j][i]=='S')
                {
                  document.getElementById(temp1).setAttribute("class","bg-dark");
                }
                else
                {
                  document.getElementById(temp1).setAttribute("class","");
                }
              }
            }  
              
          }
          if(info[index].isFire==true)
          {
            socket.emit('user fire',index);
             
          }
        });
      socket.on('disconnected controller',function(vitri){
        if(vitri == index)
        {
          alert("Disconnect form your board, visit list board to reconnect");
          socket.emit("xuly disconnected",user)
          window.location.href="/listboard"
        }
      });
      socket.on("xuly surrender",function(username)
      {
        if(username!=user)
        {
          window.alert("You win")
          socket.emit("out room",user)
            
            document.location.href="/rooms"
        }
      })
      // funtion updateState()
      // {
      //   socket.emit('update state',user);
      // }
      function switchboard()
      {
        socket.emit("swicth board",user)
        window.location.href="/listboard"
      }
      function surrender()
      {
        socket.emit("surrender",user)
        document.location.href="/rooms"
      }
      function outroom(){
        socket.emit("out room",user);
        window.location.href="/rooms"
      }
      function out(){ 
        window.location.href="/rooms";
      }
      function updateState(){
        
        socket.emit('update state',user);
        document.getElementById('testpop').innerHTML +="1";
      }
      
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>